.container{
  display:flex;
  flex-direction: column;
  height:100vh;
}
.header{
  flex:15%;
  background-color: Salmon;
}
.menu{
  flex:5%;
  background-color: LightSalmon1;
}
.content iframe{
  flex:1;
  border: none;
  width: 100%;
  length:100%;
}
.footer{
  flex:10%;
    background-color: Firebrick;
}
h1 {
  color: blue;
  text-margin:30px;
  vertical-align: top;
}
.tuade {
  color: #ff0000;
  font-family: "Times New Roman";
  margin-top:20px;
  font-size:20px;
  font-weight: bold;
}
.noidung {
  color: #000005;
  font-family: "Times New Roman";
  margin-top:6px;
  font-style:normal;
  font-size:15px;
}
  
