h1 {
  color: #02066b;
  text-margin:20px;
  vertical-align: top;
}
.tuade {
  color: #ff0000;
  font-family: "Times New Roman";
  margin-top:20px;
  font-size:20px;
  font-weight: bold;
}
.noidung {
  color: #000005;
  font-family: "Times New Roman";
  margin-top:6px;
  font-style:normal;
  font-size:20px;
}
  
